<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Marcela Brito | Portafolio Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <script
      src="https://kit.fontawesome.com/836a943e18.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="/static/image/x-icon" href="/static/images/favicon.ico" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="nav-brand">
            <a href="index.html">
              <img src="/static/images/logo.png" alt="Chaoo" />
            </a>
          </div>
          <div class="burger-menu-icon">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#landing-page">
                <img
                  src="/static/images/profile-pic.jepg"
                  alt="Marcela Brito"
                  class="profile-pic nav-link"
                />
                <span class="caption nav-link">Marcela Brito</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">Sobre mí</a>
            </li>
            <li class="nav-item">
              <a href="#services" class="nav-link">Educación</a>
            </li>
            <li class="nav-item">
              <a href="#projects" class="nav-link">Información Personal</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contacto</a>
            </li>
            <li class="nav-item">
              <a href="facebook.com/marcela.brito.332" target="_blank" class="nav-link">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <div class="cta">
              <a href="#" target="_blank" class="btn nav-link">Buy Me Coffee</a>
            </div>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section id="landing-page" class="landing-page">
        <div class="container">
          <div class="main-message">
            <h2>Marcela Brito</h2>
            <h3>Estudiante</h3>
            <p>Ingeniería de Negocios</p>
            <div class="intro-btn">
              <div class="cta">
                <a href="#contact" class="btn">Contacto</a>
              </div>
              <div class="cta">
                <a href="#projects" class="btn">Información general</a>
              </div>
            </div>
            <div>
              <a href="#about" class="scroll-down">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section id="about" class="about">
        <div class="container">
          <div class="about-img">
            <img
              src="images/profile-pic.jpeg"
              alt="Marcela Brito"
              class="about-pic"
            />
          </div>
          <div class="about-text-box">
            <h2>Perfil 👋🏽</h2>
            <p>
              Mi nombre es Marcela Brito, soy estudiante de 3er año de Ingeniería
               de Negocios en la Escuela Superior de Economía y Negocios (ESEN) en El Salvador. 
            </p>
            <p>
              Soy una persona responsable, perseverante y comprometida 
              con mis objetivos. Disfruto trabajar en equipo pues lo considero 
              una oportunidad para aprender de los demás. Me gusta intentar cosas 
              nuevas y poner en práctica mis habilidades.
            </p>
            <p>
              Me interesa la programación y he tenido la oportunidad 
              de aprender algunos lenguajes como Java y Python, además del desarrollo de bases de datos. 
            </p>
          </div>
        </div>
        <hr />
      </section>
      <section id="services" class="services">
        <div class="container">
          <div class="title-heading">
            <h2>EDUCACIÓN</h2>
          </div>
          <div class="service-tiers">
            <div class="tier-item">
              <i class="fa fa-code" aria-hidden="true"></i>
              <h2>Escuela Superior de Economía y Negocios [2019- ]</h2>
              <p>
                Estudiante 3er año de Ingeniería de Negocios     
               </p>
            </div>
            <div class="tier-item">
              <i class="fa fa-mobile" aria-hidden="true"></i>
              <h2>¡Supérate! Fundación Poma [2016-2018]</h2>
              <p>
                 Beca de formación integral en Inglés, Computación y Valores
              </p>
            </div>
            <div class="tier-item">
              <i class="fa fa-file-code-o" aria-hidden="true"></i>
              <h2>CEWAS [2017-2018]</h2>
              <p>
                 Bachillerato General
              </p>
            </div>
          </div>
        </div>
        <hr />
      </section>
      <section id="projects" class="projects">
        <div class="title-heading">
          <h2>INFORMACIÓN GENERAL</h2>
          <p>Algunos de mis logros y voluntariados</p>
        </div>
        <div class="project-item">
          <div class="project-img has-margin-right">
            <img src="/static/images/talk.png" />
          </div>
          <div class="project-description">
            <h2>Voluntaria TALK ESEN [2020]</h2>
            <p>
              Impartiendo talleres en inglés de habilidades de negociación para el trabajo 
            </p>
          </div>
        </div>

        <div class="project-item">
          <div class="project-description has-margin-right">
            <h2>Voluntaria de TECHO y HABITAT [2017-2018]</h2>
            <p>
              Participación en la Feria de voluntariado juvenil y colecta TECHO por dos años consecutivos y en jornadas de construcción
            </p>
        
          </div>
          <div class="project-img">
            <img src="/static/images/techo.png" />
          </div>
        </div>

        <div class="project-item">
          <div class="project-img has-margin-right">
            <img src="/static/images/office.png" />
          </div>
          <div class="project-description">
            <h2>Manejo de Microsoft Office [2016- ]</h2>
            <p>
              Certificaciones en MOS Excel y MOS Word 2013
            </p>
          </div>
        </div>
        <hr />
      </section>
      <section id="contact" class="contact">
        <h2>Contáctame</h2>
        <p>
          Estas son algunas de mis redes donde puedes contactarme.
        </p>
        <p>
        </p>
        <div class="container">
          <p>
            <a href="mailto:marcebea01@gmail.com"
              ><i class="fas fa-envelope-open"></i> marcebea01@gmail.com</a
            >
          </p>
          <p>
            <a href="facebook.com/marcela.brito.332" target="_blank"
              ><i class="fab fa-facebook"></i> Facebook</a
            >
          </p>
        </div>
        <hr />
      </section>
      <footer>
        <div class="footer-nav">
          <a href="#landing-page" class="footer-nav-link">Home</a>
          <a href="#about" class="footer-nav-link">Sobre mí</a>
          <a href="#services" class="footer-nav-link">Educación</a>
          <a href="projects" class="footer-nav-link">Información General</a>
          <a href="#contact" class="footer-nav-link">Contacto</a>
        </div>
        <div class="footer-coded-by">
          <p>
            <i class="fas fa-code"></i> with 💙 by Marcela Brito &copy; 2020
          </p>
          <p>Built with pure HTML, CSS and JavaScript</p>
        </div>
      </footer>
    </main>
    <script src="/static/main.js"></script>
  </body>
</html>
